@model Prueba_S.Models.Venta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" readonly />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.NomCliente" class="control-label"></label>
                <input asp-for="Cliente.NomCliente" class="form-control" readonly />
                <span asp-validation-for="Cliente.NomCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.NomProducto" class="control-label"></label>
                <input asp-for="Producto.NomProducto" class="form-control" readonly />
                <span asp-validation-for="Producto.NomProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorUnitario" class="control-label"></label>
                <input asp-for="ValorUnitario" class="form-control" />
                <span asp-validation-for="ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
